<div class="ilc_question_Example">
    <div class="ilc_qtitle_Title">{QUESTIONTEXT}</div>
    <div class="ilc_qanswer_Answer ilc_answers answers ilClearFloat">
        <label for="question{QUESTION_ID}value1">{LABEL_VALUE1}</label><br/>
        <textarea id="question{QUESTION_ID}value1" name="question{QUESTION_ID}value1"/>{VALUE1}</textarea>
    </div>
    <div>
        <label for="question{QUESTION_ID}value1">{LABEL_VALUE2}</label><br/>
        <input id="question{QUESTION_ID}value2" name="question{QUESTION_ID}value2" value="{VALUE2}" type="text" size="10" maxlength="10" />

     </div>
</div>